body { 
    font-family: sans-serif;
    text-align: center;
}


#game-container {
    text-align: center;
}

#game-container-ul-one{
    margin:-15px 0;
    line-height:0px
    
}

#game-container-ul-one li{
    list-style: none;
    display: inline-block;
    background-color:white;
    opacity: 0.4;

    
    padding: 0%;
    padding-left: 4%;
    padding-right: 4%;
    
    font-size:200%
}

#game-container-ul-two{
    margin:-15px 0;
    line-height:-0px
   
}

#game-container-ul-two li{
    list-style: none;
    display: inline-block;
    opacity: 0.3;
    
    padding: 0%;
    padding-left: 4%;
    padding-right: 4%;
    
    font-size:200%
}
#game-container-ul-three{
    margin:-15px 0;
    line-height:0px
}

#game-container-ul-three li{
    list-style: none;
    display: inline-block;
    opacity: 0.3;
    
    padding: 0%;
    padding-left: 4%;
    padding-right: 4%;
    
    font-size:200%
    
}

#pick-symbol{
    margin:-15px 0;
    line-height:0px
    
}


#pick-symbol li{ 
    display: inline-block;
    padding: 5%;
    text-align: center
    
}




