body { 
    font-family: sans-serif;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:10%
}

#container {
    
}

#game-container {
    text-align: center;
}

#game-container-ul-one{
    margin:-15px 0;
    line-height:0px
    
}

#game-container-ul-one li{
    list-style: none;
    display: inline-block;
    
    opacity: 0.4;

    
    padding: 0%;
    padding-left: 4%;
    padding-right: 4%;
    
    font-size:200%
}

#game-container-ul-two{
    margin:-15px 0;
    line-height:-0px
   
}

#game-container-ul-two li{
    list-style: none;
    display: inline-block;
    opacity: 0.3;
    text-align:center;
    padding: 0%;
    padding-left: 4%;
    padding-right: 4%;
    
    font-size:200%
}
#game-container-ul-three{
    margin:-15px 0;
    line-height:0px
}

#game-container-ul-three li{
    list-style: none;
    display: inline-block;
    opacity: 0.3;
    
    padding: 0%;
    padding-left: 4%;
    padding-right: 4%;
    
    font-size:200%
    
}

#pick-symbol{
    margin:-15px 0;
    line-height:0px
    
}


#pick-symbol li{ 
    display: inline-block;
    padding: 5%;
    text-align: center
    
}

#x { 
    color: rgb(26, 154, 228);
    font-size: 150%;
}

#y { 
    color: rgb(15, 223, 15);
    font-size: 150%;
}


#winner{
    color: rgb(4, 5, 0);
    font-size: 150%;
}



.x { 
    color: rgb(0, 153, 255);
    text-align: center;
}

.x:hover{
    color: rgb(0, 94, 156);
}

.y{
    color: rgb(0, 255, 0)

}
.y:hover{
    color: rgb(0, 172, 9);
}

.one:hover, .two:hover, .three:hover{
    color: rgb(255, 0, 0)
    
}

/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  margin: 10%;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}