<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naughts and Crosses</title>
    <link lang="css" rel="stylesheet" href="/static/game.css">
</head>
<body>
    <h2>Naughts and crosses</h2>
    <p id="player-turn"></p>
    <p id="p1-symbol">Player 1 pick your symbol</p>
    <ul id="pick-symbol">
        <li id="x"onclick="symbol(this.id)">X</li>
        <li id="y" onclick="symbol(this.id)">Y</li>
    </ul>
    
    <button id="game-btn-back">Back</button>
    <br></br>
  
    <div id="game-container">
        <ul id="game-container-ul-one">
            <li><p class="one" id="1" onclick="value(this.id)">1</p></li>
            <li><p class="one" id="2" onclick="value(this.id)">2</p></li>
            <li><p class="one" id="3" onclick="value(this.id)">3</p></li>
        </ul>
        <ul id="game-container-ul-two">
            <li><p class="two" id="4" onclick="value(this.id)">4</p></li>
            <li><p class="two" id="5" onclick="value(this.id)">5</p></li>
            <li><p class="two" id="6" onclick="value(this.id)">6</p></li>
        </ul>
        <ul id="game-container-ul-three">
            <li><p class="three" id="7" onclick="value(this.id)">7</p></li>
            <li><p class="three" id="8" onclick="value(this.id)">8</p></li>
            <li><p class="three" id="9" onclick="value(this.id)">9</p></li>
        </ul>

    </div>
    <p id="winner"></p>
    
    <script src="/static/scripts/games.js"></script>
</body>
</html>